.header {
    padding: 1rem 1rem 3rem;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navItem {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.navItem:hover {
    color:#008891;
    cursor:pointer;
}

.activeNavItem {
    color: #333333;
}

.img {
    max-width:50px;
}