*{
  margin:0;
}
.cards {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto ;
}

.my-card{
  width:45vw;
}

.card-text {
  padding: 20px 0;
margin: 0 auto;
}

img {
  width: 100%;
}



@media screen and (max-width: 500px) {
  .cards {
    display: block;
  }
img{
width:100%
}
  .my-card {
    width: 90vw;
    max-height: 300px;
    margin-bottom: 1rem;
    overflow: hidden;
    border: 1px gray solid;
  }

  .card-text {
    padding: 20px;
  }
}
